@media (min-width: 320px) and (max-width: 575.98px){
.container{
width: 320px;
margin: 0 auto;
}
#product .main .item{
width: 48%;
display: flex;
flex-wrap: wrap;
overflow: hidden;
}
#product .main .item .off p{
/* display: block; */
font-size: 13px;
}
#product .main .item .details .price .new-price{
font-size: 12px;
}
#product .main .item .details .price .old-price{
font-size: 10px;
}
#product .main .item .icon{
font-size: 14px;
margin-left: -1px;
z-index: -1;
/* background-color: transparent; */
}
#product .main .item:hover .icon{
margin-top: -40px;
z-index: 1;
}
#product .main .item .details .price .new-price p{
font-size: 13px;
}

}

@media (min-width: 576px) and (max-width: 768px){
.container{
width: 576px;
margin: 0 auto;
}
#product .main .item{
width: 48%;
display: flex;
flex-wrap: wrap;
margin-top: 10px;
overflow: hidden;
}
#product .main .item .icon{
    font-size: 18px;
    margin-left: 34px;
    left: -45px;
    }
    #product .main .item:hover .icon{
    margin-top: 40px;
    }
  
}

@media (min-width: 769px) and (max-width: 992px){
.container{
width: 769px;
margin: 0 auto;
}
#product .main .item .icon {
   margin-left: 0px;
   background-color: transparent;
}
/* #product .main .item{
overflow: hidden;
} */
}

@media (min-width: 993px) and (max-width: 1200px){
.container{
width: 993px;
margin: 0 auto;
}
#product .main .item .icon {
margin-left: 0px;
 }
 #product .main .item{
overflow: hidden;
 }
}

@media (min-width: 1201px) and (max-width: 1320px){
    .container{
        width: 1201px;
        margin: 0 auto;
        }
        #product .main .item .icon {
        margin-left: 0px;
         }
         #product .main .item{
        overflow: hidden;
         }
}


@media (min-width: 280px) and (max-width: 319px){
.container{
width: 280px;
margin: 0 auto;
}
#product .main .item{
margin: auto;
overflow: hidden;
}
#product .main .item .icon {
    margin-left: 0px;
 }
}