*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
li{
list-style: none;
display: inline-block;
}
a{
text-decoration: none;
display: block;
}
img{
vertical-align: middle;
width: 100%;
}
.container{
width: 1320px;
margin: 0 auto;
}
/* common css end */
#product{
margin-bottom: 50px;
}
.title{
text-align: center;
font-size: 22px;
padding: 50px 0;
margin: 0;
color: #445268;
font-weight: 800;
}
#product .main{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
#product .main .item{
width: 210px;
padding: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
position: relative;
transition: .4s;
border-radius: 5px;
margin-bottom: 20px;
overflow: hidden;
}
#product .main .item:hover{
border: 1px solid blue;
}
#product .main .item .off{
position: absolute;
/* content: '150 tk off'; */
display: flex;
align-items: center;
color: #ffffff;
height: 30px;
width: 40%;
top: 15px;
left: 0;
background-color: blue;
border-radius: 0 15px 15px 0;
}
#product .main .item:hover .icon a{
margin-top: 0px;
opacity: 1;
}
#product .main .item .icon{
display: flex;
justify-content: space-between;
font-size: 20px;
padding: 0 15px;
position: absolute;
top: 50%;
left: -10px;
height: 30px;
width: 100%;
margin: auto;
background-color: #ffffff;
}
#product .main .item .icon a{
color: gray;
margin-left: 20px;
margin-top: 50px;
transition: .4s;
opacity: 0;
}
#product .main .item .details{
padding: 15px;
transition: .4s;
}
#product .main .item .details .price .new-price p{
font-size: 18px;
font-weight: 700;
color: blue;
}
#product .main .item .details .price .old-price p{
position: relative;
opacity: .6;
margin-left: 10px;
}
#product .main .item .details .price .old-price p::before{
position: absolute;
content: '';
height: 3px;
width: 100%;
top: 45%;
left: 0;
background-color: black;
}
#product .main .item .details:hover a{
color: blue;
}
#product .main .item .details a{
font-size: 12px;
font-weight: 700;
transition: all 0.3s ease;
line-height: 21px;
display: inline-block;
color: #111;
font-family: 'Marvel', sans-serif;
}
#product .main .item .details .price{
display: flex;
padding-top: 15px;
}